.c-menu
  list-style: none
  border-right: 1px solid lightgray
  padding-left: 0

  li
    padding: 1.0em
    padding-right: 2em
    font-size: 1.5em
    border-bottom: 1px solid #DEDEDE
    cursor: pointer

    &:hover
      background-color: #00B6FF
      transition-duration: 0.25s

    a
      text-decoration: none
      color: black
      font-weight: bold
